<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% if title %}
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to WeChat</title>
    {% endif %}

</head>
<nav class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="background-image:url(http://adba1f573a9e2b10f4dc.test.upcdn.net/apicloud/4381b4b7d477eee99fcc4224b4bf18ba.jpg);filter:blur(2px);opacity:50%;">
    <a class="p-2 text-dark my-0 mr-md-auto font-weight-normal" href="{{ url_for('index') }}">
        <h1 style="color: red;">WeChat</h1>
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a style="color: rgb(82, 14, 230);" href="{{ url_for('explore') }}">
            <h2>聊天记录</h2>
        </a>
    </nav>
    {% if current_user.is_anonymous %}
    <a style="color: rgb(82, 14, 230);" href="{{ url_for('login') }}">
        <h2>登录</h2>
    </a>
    {% else %}
    <a style="color: rgb(82, 14, 230);" href="{{ url_for('logout') }}">
        <h2>注销</h2>
    </a>
    {% endif %}
</nav>

{% block content %} {% endblock %}