{%   extends "base.html" %}

{% block content %}
  <h1>Password Reset </h1>
  <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.pasword.label }}<br>
          {{ form.pasword() }}<br>
          {% for error in form.pasword.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
            {{ form.pasword2.label }}<br>
            {{ form.pasword2() }}<br>
            {% for error in form.pasword2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
       <p>{{ form.submit() }}</p>
  </form>


{% endblock %}